body {
  font-family: "Source Sans Pro", sans-serif !important;
  padding-top: 80px;
  margin: 0;
}

/*Tema del gradiente*/
.theme {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.theme-inverted {
  background: linear-gradient(90deg, #daae51 0%, #d53369 100%);
}

/*Navbar, logo y efecto con scroll*/
.logo {
  filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(172deg)
    brightness(112%) contrast(101%);
  height: 70px;
}
.logo-scrolled {
  height: 70px;
}

.brand-text {
  font-weight: 900;
  font-size: x-large;
}

.navbar-custom {
  margin-bottom: 0px;
}
#navbar.scrolled {
  background-color: white;
  color: black !important;
  transition: background-color 300ms linear;
  border-bottom: 1px solid gray;
}

#navbar.scrolled .nav-link {
  color: black !important;
  transition: background-color 300ms linear;
  text-decoration: none;
}

#navbar.scrolled,
#navbar.scrolled .brand-text {
  color: black !important;
}

#navbar.navbar-nav {
  color: black !important;
}

/*Main*/
.main-jumbotron {
  padding: 0px 80px;
}

.jumbotron-white {
  color: white;
}
.jumbotron-white h1 {
  font-weight: 700;
}

.jumbotron-transparent {
  background-color: transparent !important;

  /*Footer*/
}
#footer {
  background: linear-gradient(180deg, #daae51 0%, #d53369 100%);
  text-align: center;
  width: 100%;
}

.social {
  height: 25px;
  filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(172deg)
    brightness(112%) contrast(101%);
}

#wave {
  fill: white;
  margin-top: -1px;
}
/*Footer*/

/*Login*/

.jumbotron-login {
  background-color: white !important;
}

.jumbotron-login .form-signin {
  padding: 0rem 6rem;
}

.form-signin img {
  height: 90px;
}

.form-signin .btn a {
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.btn-login{
    background-color: #d53369;
}
.btn-signin{
    background-color: #daae51;
    color: black;
    text-decoration: none;
}



/*Login*/
